<?xml version="1.0"?>
<robot xmlns:xacro= "http://www.ros.org/wiki/xacro">
    
    <joint name = "imu_left_joint" type = "fixed">
        <parent link="chassis"/>
        <child link = "imu_left_link"/>
        <origin xyz = "0 0.117 0.004194" rpy = "0 0 0"/>
    </joint>

    <link name = "imu_left_link">
        <visual>
            <geometry>
                <box size="0.02 0.016 0.002"/>
            </geometry>
            <material name = "black"/>
        </visual>
    </link>

    <gazebo reference="imu_left_link">
        <gravity>true</gravity>
        <sensor name="imu_left_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
              <angular_velocity>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </z>
              </angular_velocity>
              <linear_acceleration>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </z>
              </linear_acceleration>
            </imu>
            <plugin name="imu_plugin_left" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <namespace>imu_left</namespace>
                    <remapping>~/out:=imu</remapping>
                </ros>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
        </sensor>
    </gazebo>


    <joint name = "imu_right_joint" type = "fixed">
        <parent link="chassis"/>
        <child link = "imu_right_link"/>
        <origin xyz = "0 -0.117 0.004194" rpy = "0 0 0"/>
    </joint>

    <link name = "imu_right_link">
        <visual>
            <geometry>
                <box size="0.02 0.016 0.002"/>
            </geometry>
            <material name = "black"/>
        </visual>
    </link>

    <gazebo reference="imu_right_link">
        <gravity>true</gravity>
        <sensor name="imu_right_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
              <angular_velocity>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </z>
              </angular_velocity>
              <linear_acceleration>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </z>
              </linear_acceleration>
            </imu>
            <plugin name="imu_plugin_right" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <namespace>imu_right</namespace>
                    <remapping>~/out:=imu</remapping>
                </ros>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
        </sensor>
    </gazebo>

</robot>